## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [26]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [27]:
# Your code here
sample_list_1 = random.sample(range(0,100),80)
print(sample_list_1)

[85, 65, 41, 53, 68, 43, 14, 96, 73, 3, 83, 35, 28, 8, 24, 56, 29, 91, 79, 31, 34, 63, 97, 25, 37, 13, 61, 90, 45, 62, 93, 2, 10, 1, 84, 77, 46, 26, 18, 92, 57, 76, 20, 23, 69, 66, 50, 75, 5, 54, 49, 81, 67, 30, 7, 82, 32, 86, 80, 4, 94, 78, 39, 98, 0, 55, 70, 27, 60, 44, 12, 51, 19, 88, 99, 58, 6, 42, 47, 59]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [28]:
# Your code here
set1 = set(sample_list_1)
print(set1)
len(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 18, 19, 20, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 37, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 90, 91, 92, 93, 94, 96, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [42]:
# Your code here
sample_list_2 = [random.randint(0, 100) for _ in range(80)]
print (sample_list_2)
len(sample_list_2)

[85, 21, 15, 67, 52, 16, 23, 34, 43, 21, 73, 8, 73, 51, 2, 9, 58, 12, 99, 7, 50, 20, 56, 71, 42, 50, 73, 68, 96, 23, 72, 0, 42, 51, 99, 66, 21, 61, 11, 47, 28, 36, 75, 51, 82, 54, 12, 54, 42, 7, 29, 80, 87, 61, 99, 41, 38, 90, 81, 44, 60, 37, 15, 34, 10, 12, 70, 77, 42, 88, 41, 52, 63, 71, 22, 43, 76, 76, 65, 5]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [43]:
# No contiene 80, ya que los valores no son únicos, y al función set elimina los duplicados
set2 = set(sample_list_2)
print (set2)
len(set2)

{0, 2, 5, 7, 8, 9, 10, 11, 12, 15, 16, 20, 21, 22, 23, 28, 29, 34, 36, 37, 38, 41, 42, 43, 44, 47, 50, 51, 52, 54, 56, 58, 60, 61, 63, 65, 66, 67, 68, 70, 71, 72, 73, 75, 76, 77, 80, 81, 82, 85, 87, 88, 90, 96, 99}

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [44]:
# Your code here
set3 = (set1.difference(set2))
print(set3)
len(set3)

{1, 3, 4, 6, 13, 14, 18, 19, 24, 25, 26, 27, 30, 31, 32, 35, 39, 45, 46, 49, 53, 55, 57, 59, 62, 69, 78, 79, 83, 84, 86, 91, 92, 93, 94, 97, 98}

37

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [45]:
# Your code here
set4 = (set2.difference(set1))
print(set4)
len(set4)

{36, 38, 71, 72, 9, 11, 15, 16, 52, 21, 22, 87}

12

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [46]:
# Your code here
set5 = (set1.intersection(set2))
print(set5)
len(set5)

{0, 2, 5, 7, 8, 10, 12, 20, 23, 28, 29, 34, 37, 41, 42, 43, 44, 47, 50, 51, 54, 56, 58, 60, 61, 63, 65, 66, 67, 68, 70, 73, 75, 76, 77, 80, 81, 82, 85, 88, 90, 96, 99}

43

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [65]:
# No entiendo que operación matemática relaciona estos números...
len(set1), len(set2), len(set3), len(set4), len(set5)

(80, 55, 37, 12, 43)

#### Create an empty set called `set6`.

In [35]:
# Your code here
set6 = ()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [47]:
# Your code here
set6 = set3.union(set5)

#### Check if `set1` and `set6` are equal.

In [48]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [51]:
# Your code here
set1.issubset(set2), set1.issubset(set3)

(False, False)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [55]:
# Your code here
print(set3.union(set4, set5, set1, set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [79]:
# Para eleminar un elemento concreto de un set, se usa la función remove(), o discard(), ya que pop, quitaría un elemento al azar.

TypeError: set.pop() takes no arguments (1 given)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [82]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.discard(i)
        print(set1)
    else:
        print(i, "No está en el Set1")

1 No está en el Set1
9 No está en el Set1
11 No está en el Set1
19 No está en el Set1
21 No está en el Set1
29 No está en el Set1
31 No está en el Set1
39 No está en el Set1
41 No está en el Set1
49 No está en el Set1
51 No está en el Set1
59 No está en el Set1
61 No está en el Set1
69 No está en el Set1
71 No está en el Set1
79 No está en el Set1
81 No está en el Set1
89 No está en el Set1
91 No está en el Set1
99 No está en el Set1