## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here
sample_list_1 = list(random.sample(list(range(0,100)), 80))
print(sample_list_1, len(sample_list_1))

[31, 44, 8, 60, 6, 66, 34, 94, 29, 57, 81, 95, 83, 43, 14, 70, 91, 82, 72, 76, 98, 92, 24, 65, 26, 71, 27, 47, 86, 58, 5, 23, 77, 37, 45, 68, 16, 32, 33, 96, 28, 85, 63, 1, 52, 78, 38, 62, 80, 12, 79, 50, 46, 13, 40, 64, 19, 48, 25, 41, 67, 0, 10, 73, 4, 2, 75, 42, 54, 89, 55, 59, 74, 3, 7, 17, 21, 97, 99, 11] 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1 = set(sample_list_1)
print(len(set1) == 80)

True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [13]:
# Your code here
sample_list_2 = list(random.sample(list(range(0,100)), 40))
for item in sample_list_2:
    if item in sample_list_2 and sample_list_2.count(item) == 1:
        sample_list_2.append(item)
print(sample_list_2, len(sample_list_2)) ## así se duplican los valores que hay en la lista

[80, 56, 9, 86, 11, 5, 20, 78, 37, 6, 17, 83, 71, 33, 79, 23, 25, 3, 92, 7, 38, 94, 8, 90, 39, 1, 65, 87, 70, 75, 29, 77, 98, 15, 35, 57, 41, 22, 66, 81, 80, 56, 9, 86, 11, 5, 20, 78, 37, 6, 17, 83, 71, 33, 79, 23, 25, 3, 92, 7, 38, 94, 8, 90, 39, 1, 65, 87, 70, 75, 29, 77, 98, 15, 35, 57, 41, 22, 66, 81] 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [14]:
# Your code here
set2 = set(sample_list_2)
print(len(set2) == 80) ##ya no es igual a 80, porque al haber valores duplicados, el set solo puede tener valores únicos

False

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [17]:
# Your code here -- método difference, compara los valores del primero frente a los valores del segundo
set3 = set1.difference(set2)
print(set3, len(set3))

{0, 2, 4, 10, 12, 13, 14, 16, 19, 21, 24, 26, 27, 28, 31, 32, 34, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 54, 55, 58, 59, 60, 62, 63, 64, 67, 68, 72, 73, 74, 76, 82, 85, 89, 91, 95, 96, 97, 99} 49

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [18]:
# Your code here -- método difference, compara los valores del primero frente a los valores del segundo
set4 = set2.difference(set1)
print(set4, len(set4))

{35, 39, 9, 15, 20, 22, 87, 56, 90} 9

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [20]:
# Your code here
set5 = set1.intersection(set2)
print(set5, len(set5))

{1, 3, 5, 6, 7, 8, 11, 17, 23, 25, 29, 33, 37, 38, 41, 57, 65, 66, 70, 71, 75, 77, 78, 79, 80, 81, 83, 86, 92, 94, 98} 31

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here
## NO LO ENTIENDO

#### Create an empty set called `set6`.

In [21]:
# Your code here
set6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [26]:
# Your code here
## NO FUNCIONA
set6 = set5.update(set3)
print(set6)

None

#### Check if `set1` and `set6` are equal.

In [27]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [31]:
# Your code here
set1.issubset(set2)

False

In [30]:
# Your code here
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [33]:
# Your code here
set7 = set3.union(set4)
set7 = set7.union(set5)
set8 = set1.union(set2)
print(set7 == set8)

True

#### Using the `pop` method, remove the first element from `set1`.

In [34]:
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 19, 21, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 52, 54, 55, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 89, 91, 92, 94, 95, 96, 97, 98, 99}

In [36]:
# Your code here
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 19, 21, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 52, 54, 55, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 89, 91, 92, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here