## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [3]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [8]:
# Your code here
sample_list_1 = random.sample(range(0,100), 80)
print(sample_list_1)

[20, 86, 50, 97, 51, 28, 14, 62, 29, 25, 41, 8, 21, 36, 5, 68, 30, 39, 52, 65, 58, 92, 42, 40, 71, 53, 89, 98, 56, 6, 44, 57, 93, 18, 2, 64, 55, 9, 78, 95, 19, 70, 67, 37, 13, 34, 81, 12, 60, 74, 23, 22, 94, 31, 85, 84, 63, 91, 45, 66, 72, 48, 46, 17, 4, 77, 27, 59, 79, 61, 26, 82, 38, 90, 33, 80, 35, 11, 96, 3]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [30]:
# Your code here
set1= set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2+=random.sample(range(0,100), 1)
print(sample_list_2)

[43, 8, 92, 49, 18, 89, 30, 98, 56, 68, 6, 71, 86, 98, 28, 57, 59, 66, 51, 60, 99, 67, 20, 27, 17, 54, 85, 16, 9, 50, 9, 74, 68, 36, 65, 53, 90, 57, 70, 5, 61, 25, 96, 18, 89, 61, 48, 42, 64, 51, 27, 39, 73, 7, 85, 67, 66, 59, 9, 35, 44, 3, 90, 67, 80, 23, 23, 75, 29, 70, 84, 98, 30, 57, 23, 90, 65, 98, 47, 73]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2= set(sample_list_2)
len(set2)
#No, la longitud no sigue siendo la misma ya que se repiten números.

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [13]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{2, 4, 11, 12, 13, 14, 19, 21, 22, 26, 31, 33, 34, 37, 38, 40, 41, 45, 46, 52, 55, 58, 62, 63, 72, 77, 78, 79, 81, 82, 91, 93, 94, 95, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [14]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{99, 7, 73, 43, 75, 47, 16, 49, 54}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{3, 5, 6, 8, 9, 17, 18, 20, 23, 25, 27, 28, 29, 30, 35, 36, 39, 42, 44, 48, 50, 51, 53, 56, 57, 59, 60, 61, 64, 65, 66, 67, 68, 70, 71, 74, 80, 84, 85, 86, 89, 90, 92, 96, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [16]:
# Your code here
print("set1:",len(set1))
print("set2:",len(set2))
print("set3:",len(set3))
print("set4:",len(set4))
print("set5:",len(set5))

set1: 80
set2: 54
set3: 35
set4: 9
set5: 45

In [ ]:
#set1 = (set3 + set5)
#set2 = (set4 + set5)

In [18]:
set3.union(set5) == set1

True

In [19]:
set4.union(set5) == set2

True

#### Create an empty set called `set6`.

In [20]:
# Your code here
set6 = ()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [21]:
# Your code here
set6 = set3.union(set5)
print(set6)

{2, 3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 48, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 74, 77, 78, 79, 80, 81, 82, 84, 85, 86, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [22]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [23]:
# Your code here
set1.issubset(set2)

False

In [24]:
# Your code here
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [25]:
# Your code here
set5.union(set3.union(set4)) == set1.union(set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [36]:
# Your code here
set1.pop()

2

In [37]:
print(set1)

{3, 4, 5, 6, 8, 9, 11, 12, 13, 14, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 48, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 74, 77, 78, 79, 80, 81, 82, 84, 85, 86, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [38]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [39]:
#Se utiliza el metodo difference para encontrar los números de 'list_to_remove' que no se encuentran en 'set1' pero para ello
# debemos convertir la lista 'list_to_remove' en un set, teniendo ya los números no coincidentes de 'list_to_remove' que no
# se encuentran en 'set1' lo convertimos en una lista para actualizar la información de 'Add set3 and set5 to set6 using
# the Python Set update method.'
list_to_remove = list(set(list_to_remove).difference(set1))
print(list_to_remove)

[1, 99, 69, 49]