## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [264]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [265]:
sample_list_1 = random.sample(range(100),k=80)
print(sample_list_1)

[22, 94, 16, 78, 40, 73, 13, 53, 98, 2, 79, 93, 68, 43, 63, 5, 41, 57, 11, 60, 69, 26, 19, 74, 34, 21, 86, 52, 76, 75, 55, 3, 59, 45, 32, 35, 96, 70, 25, 58, 12, 39, 49, 6, 82, 51, 66, 27, 90, 84, 81, 61, 62, 48, 85, 47, 64, 33, 17, 24, 20, 97, 14, 89, 99, 42, 67, 23, 88, 95, 36, 46, 65, 31, 7, 29, 8, 38, 30, 87]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [266]:
set1 = set(sample_list_1)
print(set1)
len(set1)
#Sigue teniendo 80 numeros ya que random.sample saca numeros sin que se repitan y set no permite numeros repetidos.

{2, 3, 5, 6, 7, 8, 11, 12, 13, 14, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 75, 76, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 93, 94, 95, 96, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [267]:
sample_list_2 =[]
for number in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)
len(sample_list_2)

[23, 68, 40, 10, 12, 53, 41, 50, 15, 38, 43, 99, 88, 81, 21, 63, 65, 14, 70, 79, 98, 8, 1, 37, 37, 28, 5, 0, 26, 92, 72, 14, 0, 31, 97, 51, 4, 88, 50, 25, 10, 31, 100, 8, 67, 34, 39, 74, 59, 22, 3, 20, 27, 64, 35, 39, 22, 99, 73, 69, 33, 84, 87, 59, 86, 46, 18, 24, 100, 62, 37, 68, 44, 20, 1, 76, 14, 85, 13, 87]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [268]:
set2 = set(sample_list_2)
print (set2)
len(set2)
#Ahora tiene 59 numeros, no 80 porque ten√≠a varios repetidos, y set no permite valores repetidos.

{0, 1, 3, 4, 5, 8, 10, 12, 13, 14, 15, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 31, 33, 34, 35, 37, 38, 39, 40, 41, 43, 44, 46, 50, 51, 53, 59, 62, 63, 64, 65, 67, 68, 69, 70, 72, 73, 74, 76, 79, 81, 84, 85, 86, 87, 88, 92, 97, 98, 99, 100}

61

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [269]:
set3 = set()
for i in set1:
    if i not in set2:
        set3.add(i)
print(set3)

{2, 6, 7, 11, 16, 17, 19, 29, 30, 32, 36, 42, 45, 47, 48, 49, 52, 55, 57, 58, 60, 61, 66, 75, 78, 82, 89, 90, 93, 94, 95, 96}

In [270]:
set3 = set1.difference(set2)
print(set3)
#Estas son las dos maneras que he probado para solucionar el problema.

{2, 6, 7, 11, 16, 17, 19, 29, 30, 32, 36, 42, 45, 47, 48, 49, 52, 55, 57, 58, 60, 61, 66, 75, 78, 82, 89, 90, 93, 94, 95, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [271]:
set4 = set()
for i in set2:
    if i not in set1:
        set4.add(i)
print(set4)

{0, 1, 4, 37, 100, 72, 10, 44, 15, 92, 18, 50, 28}

In [272]:
set4 = set2.difference(set1)
print(set4)
#Estas son las dos maneras que he probado para solucionar el problema.

{0, 1, 4, 37, 100, 72, 10, 44, 15, 92, 18, 50, 28}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [273]:
set5 = set1.intersection(set2)
print(set5)

{3, 5, 8, 12, 13, 14, 20, 21, 22, 23, 24, 25, 26, 27, 31, 33, 34, 35, 38, 39, 40, 41, 43, 46, 51, 53, 59, 62, 63, 64, 65, 67, 68, 69, 70, 73, 74, 76, 79, 81, 84, 85, 86, 87, 88, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [274]:
Total_numeros_diferentes = len(set3)+len(set4)+len(set5) 
print(Total_numeros_diferentes)
#Esto es el total de numeros no repetidos que hay juntando las dos listas.

93

#### Create an empty set called `set6`.

In [275]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [276]:
set6.update(set3,set5)
print(set6)

{2, 3, 5, 6, 7, 8, 11, 12, 13, 14, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 75, 76, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [277]:
print(set1)
len(set1)
print(set6)
len(set6)

{2, 3, 5, 6, 7, 8, 11, 12, 13, 14, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 75, 76, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 93, 94, 95, 96, 97, 98, 99}
{2, 3, 5, 6, 7, 8, 11, 12, 13, 14, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 75, 76, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 93, 94, 95, 96, 97, 98, 99}

80

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [278]:
print(set2.issubset(set1))

print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [279]:
print(set3.union(set4,set5))
print(set1.union(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [280]:
#No podemos eliminar el primer elemento usando el comando pop en un set, ya que los sets van en un orden concreto y sin index,
#lo que podemos hacer es pasarlo a lista, eliminar el primer valor y volver a pasarlo a set.
set1_lista = list(set1)
set1_lista.pop(0)
set1 = set(set1_lista)
print(set1)

{3, 5, 6, 7, 8, 11, 12, 13, 14, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 75, 76, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [281]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1 = set1 - set(list_to_remove)
print(set1)

{3, 5, 6, 7, 8, 12, 13, 14, 16, 17, 20, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 38, 40, 42, 43, 45, 46, 47, 48, 52, 53, 55, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 76, 78, 82, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98}