## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(0, 100), 80)
print(sample_list_1)

[89, 99, 91, 23, 60, 87, 10, 52, 57, 5, 75, 12, 44, 27, 7, 54, 36, 56, 48, 81, 95, 42, 6, 93, 11, 84, 76, 22, 70, 66, 72, 74, 19, 26, 88, 78, 41, 47, 14, 1, 17, 51, 92, 49, 21, 3, 8, 73, 39, 37, 53, 65, 30, 32, 85, 18, 13, 62, 4, 9, 79, 64, 33, 63, 29, 25, 28, 45, 20, 46, 68, 0, 58, 31, 24, 82, 86, 2, 83, 61]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2=[]
n=80
for i in range(n):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[9, 67, 78, 54, 5, 66, 23, 9, 36, 25, 73, 85, 3, 34, 11, 27, 30, 5, 90, 45, 58, 31, 23, 78, 90, 97, 52, 88, 49, 33, 74, 35, 23, 24, 100, 28, 6, 32, 35, 44, 10, 58, 75, 84, 5, 9, 97, 94, 63, 74, 62, 52, 100, 57, 18, 69, 96, 69, 75, 78, 12, 30, 68, 10, 61, 1, 62, 82, 21, 36, 80, 46, 41, 13, 39, 25, 42, 58, 19, 56]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
len(set2)

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [13]:
set3 = set1.difference(set2)
len(set3)

33

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [12]:
set4 = set2.difference(set1)
len(set4)

10

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
set5 = set1.intersection(set2)
len(set5)

47

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [18]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

if len(set4) + len(set5) == len(set2):
    print("La suma del número de elementos de set4 y set5 equivale al número de elementos de set2")
if len(set3) + len(set5) == len(set1):
    print("La suma del número de elementos de set3 y set5 equivale al número de elementos de set1")

80
57
33
10
47
La suma del número de elementos de set4 y set5 equivale al número de elementos de set2
La suma del número de elementos de set3 y set5 equivale al número de elementos de set1

#### Create an empty set called `set6`.

In [20]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [22]:
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 36, 37, 39, 41, 42, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 95, 99}

#### Check if `set1` and `set6` are equal.

In [24]:
if set6 == set1:
    print("set6 y set1 son iguales.")

set6 y set1 son iguales.

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [28]:
set2.issubset(set1)

False

In [27]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [35]:
set7 = set3.union(set4, set5)

set8 = set7.union(set1, set2)

if set7 == set8:
    print("Los dos sets son iguales")
else:
    print("Los sets son distintos")

Los dos sets son iguales

#### Using the `pop` method, remove the first element from `set1`.

In [38]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [40]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_from_set = list(set1)

remaining_elements = [i for i in list_from_set if i not in list_to_remove]

print(remaining_elements)

[2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 36, 37, 42, 44, 45, 46, 47, 48, 52, 53, 54, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 78, 82, 83, 84, 85, 86, 87, 88, 92, 93, 95]