## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1= random.sample(range(0,100),80)
print(sample_list_1)

[54, 39, 99, 82, 4, 14, 11, 23, 88, 49, 9, 59, 68, 30, 48, 41, 90, 81, 74, 26, 73, 69, 61, 40, 72, 77, 52, 8, 35, 10, 16, 21, 43, 6, 71, 38, 51, 86, 42, 92, 85, 50, 45, 64, 75, 93, 44, 24, 31, 12, 62, 60, 67, 84, 17, 79, 3, 94, 57, 58, 47, 91, 97, 87, 27, 53, 76, 28, 78, 18, 89, 96, 36, 83, 95, 34, 1, 0, 80, 56]

In [9]:
set1=set(sample_list_1)
# we convert the list in a set to avoid repetitive numbers

In [11]:
print (set1)

{0, 1, 3, 4, 6, 8, 9, 10, 11, 12, 14, 16, 17, 18, 21, 23, 24, 26, 27, 28, 30, 31, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 64, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

In [12]:
len(set1)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
set1=set(sample_list_1)
print(type(set1))
print (len(set1))

<class 'set'>
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
sample_list_2=random.sample(range(0,100),80)
print (sample_list_2)

[56, 15, 81, 45, 14, 24, 80, 94, 27, 31, 5, 55, 13, 9, 82, 61, 30, 91, 69, 86, 63, 96, 70, 2, 75, 43, 28, 29, 76, 18, 66, 64, 34, 74, 77, 68, 16, 54, 52, 40, 39, 50, 97, 23, 20, 84, 17, 36, 8, 22, 99, 93, 35, 44, 95, 49, 38, 11, 33, 87, 72, 47, 59, 6, 19, 73, 79, 21, 48, 3, 42, 25, 26, 90, 98, 71, 58, 67, 85, 92]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [14]:
set2=set(sample_list_2)

In [15]:
len(set2) # it is still 80

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [17]:
set3= set1.difference(set2)
print(set3)

{0, 1, 89, 4, 41, 10, 12, 78, 51, 83, 53, 88, 57, 60, 62}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [19]:
set4= set2.difference(set1)
print(set4)

{33, 2, 66, 98, 5, 70, 13, 15, 19, 20, 22, 55, 25, 29, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [20]:
set5=set1.intersection(set2)
print(set5)

{3, 6, 8, 9, 11, 14, 16, 17, 18, 21, 23, 24, 26, 27, 28, 30, 31, 34, 35, 36, 38, 39, 40, 42, 43, 44, 45, 47, 48, 49, 50, 52, 54, 56, 58, 59, 61, 64, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [22]:
len(set1)

80

In [23]:
len(set2)

80

In [24]:
len(set3)

15

In [25]:
len(set4)

15

In [26]:
len(set5)

65

#### Create an empty set called `set6`.

In [49]:
list6=[]
#we create first a empty list

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [78]:
#Then we convert set3 and set 5 to lists
list3=list(set3)
type(list3)

list

In [79]:
list5=list(set5)

In [80]:
#then we add set 3 and set5 into the list6
list6= list3+ list5

In [53]:
print (list6)

[0, 1, 89, 4, 41, 10, 12, 78, 51, 83, 53, 88, 57, 60, 62, 3, 6, 8, 9, 11, 14, 16, 17, 18, 21, 23, 24, 26, 27, 28, 30, 31, 34, 35, 36, 38, 39, 40, 42, 43, 44, 45, 47, 48, 49, 50, 52, 54, 56, 58, 59, 61, 64, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 90, 91, 92, 93, 94, 95, 96, 97, 99]

In [81]:
#Finally we conver list6 into a set6
set6= set(list6)
type(set6)

set

In [59]:
print(set6)

{0, 1, 3, 4, 6, 8, 9, 10, 11, 12, 14, 16, 17, 18, 21, 23, 24, 26, 27, 28, 30, 31, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 64, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [66]:
print(set1)

{0, 1, 3, 4, 6, 8, 9, 10, 11, 12, 14, 16, 17, 18, 21, 23, 24, 26, 27, 28, 30, 31, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 64, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

In [65]:
print(set6)

{0, 1, 3, 4, 6, 8, 9, 10, 11, 12, 14, 16, 17, 18, 21, 23, 24, 26, 27, 28, 30, 31, 34, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 64, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99}

In [64]:
set1.issubset(set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [67]:
set1.issubset(set2)

False

In [68]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [87]:
union_sets_uno = set3.union(set4)
union_sets_dos=union_sets_uno.union(set5)
union_sets_tres=union_sets_dos.union(set1)
union_sets=union_sets_tres.union(set2)

#### Using the `pop` method, remove the first element from `set1`.

In [94]:
# we can use pop in lists , so we have to convert the set in a list
list1=list(set1)

In [92]:
list1

[1,
 3,
 4,
 6,
 8,
 9,
 10,
 11,
 12,
 14,
 16,
 17,
 18,
 21,
 23,
 24,
 26,
 27,
 28,
 30,
 31,
 34,
 35,
 36,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 64,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 99]

In [93]:
list1.pop(0)
list1

[3,
 4,
 6,
 8,
 9,
 10,
 11,
 12,
 14,
 16,
 17,
 18,
 21,
 23,
 24,
 26,
 27,
 28,
 30,
 31,
 34,
 35,
 36,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 64,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 99]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Yourrr codeee hereeee